
<div>
	<md-toolbar class="toolbarfix">
      <div class="md-toolbar-tools">
        <md-button aria-label="Settings" ng-click="openNav()">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>{{'OLFS Setup' | translate}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More">
          {{'Logout' | translate}}
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <div class="toolbarheight"></div>

<md-content class="md-padding" layout="column" flex>

<!--System status-->
    <md-card class="" flex >
        <md-card-header class="ol-card-header">
         <md-card-avatar>
            <md-icon md-font-icon="fa fa-dashboard fa-1x"></md-icon>
         </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{'Initialization' | translate}} {{raid.device}}</span>
            <span class="md-subhead">status</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
           
            <div layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" ng-click="initAction()" ng-disabled="!action.done">{{'Submit' | translate}}</md-button>
            </div>
            <md-progress-linear md-mode="determinate" value="{{action.progress}}"></md-progress-linear>
        </md-card-content>
        
    </md-card>

  </md-content>  
  <md-content layout="row" layout-align="center center">
      
      
  </md-content>

</div>  
